<h1>
  Edit director #<%= @director.id %>
</h1>

<hr>

<!-- Form director start -->
<form action="/update_director/<%= @director.id %>" method="post">
<!-- Form director end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @director.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for date_of_birth start -->
  <div class="form-group">
    <label for="date_of_birth">
      Date of birth
    </label>

    <!-- Input for date_of_birth start -->
    <input type="text" id="date_of_birth" name="date_of_birth" class="form-control" value="<%= @director.date_of_birth %>">
    <!-- Input for date_of_birth end -->
  </div>
  <!-- Label and input for date_of_birth end -->

  <!-- Label and input for bio start -->
  <div class="form-group">
    <label for="bio">
      Bio
    </label>

    <!-- Input for bio start -->
    <textarea id="bio" name="bio" class="form-control" rows="3"><%= @director.bio %></textarea>
    <!-- Input for bio end -->
  </div>
  <!-- Label and input for bio end -->

  <button class="btn btn-block btn-outline-secondary">
    Update director
  </button>
</form>

<hr>

<a href="/directors">
  Go back
</a>
